In [1]:
import numpy as np
import pandas as pd
from paths import *

In [57]:
posV3 = pd.read_csv("rawPositions_V3.csv")
poolsV3 = pd.read_csv("rawPools_V3.csv")

In [206]:
poolsV3

,id,createdAtTimestamp,createdAtBlockNumber,feeTier,liquidity,sqrtPrice,feeGrowthGlobal0X128,feeGrowthGlobal1X128,token0Price,token1Price,...,totalValueLockedToken0,totalValueLockedToken1,totalValueLockedETH,totalValueLockedUSD,totalValueLockedUSDUntracked,liquidityProviderCount,token0ID,token1ID,creator_address,creation_txn
0,0x0002e63328169d7feea121f1e32e4f620abf0352,1647291448,14387035,3000,15673931107413316,4222562307878219748539850,149251869043690615504096026054992539437012,438056196595450822647568088740390,3.520522e-01,2.840488e+00,...,948.032760,3390.400150,2.404195e+01,31937.343614,0,0,0x0d438f3b5175bebc262bf23753c1e53d03432bde,0x903bef1736cddf2a537176cf3c64579c3867a881,0x4fe5f268e5053a05108ebaf13ebd9a825e6fb6f2,0x964828762e354acb5f6f062aea66c4952244af86317a...
1,0x000ea4a83acefdd62b1b43e9ccc281f442651520,1620289511,12379648,3000,5508168315607950206,1315920879659619921837104526,679190941978595037586311425670426910947,248972682810178986777692163811709741,3.624930e+03,2.758674e-04,...,7219.492080,1.867784,4.331844e+00,12690.219134,0,0,0x4fabb145d64652a948d72533023f6e7a623c7c53,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xa8859fb1083c8f2ac7795141b1bdf4f21af93915,0xf50e9ed7ce5ddeabcd213523399078a3151c69cde085...
2,0x002c0b78c8057636918b963cd26c07b7f2892bd8,1644504734,14178974,10000,0,4295128740,1596371134189400575479784628615354,0,3.402568e+38,0.000000e+00,...,0.001411,0.000000,1.411435e-03,4.051880,0,0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xc66b1f449e43c2356707431d38b87ca9c46bbfc1,0x6f6526e587a598ca52f0dfe7dba3b71b2132ec08,0xa64875001f15e0637fd273a32a1169e8d509a0bb3ddf...
3,0x0041426a64a85ef884387dc3a69f9df1fbb7f9d1,1642771615,14049175,3000,0,4295128740,68906223527643174440644354158475108052421,0,3.402568e+26,0.000000e+00,...,31926.383094,0.000001,6.018470e-10,0.000001,0,0,0xa00055e6ee4d1f4169096ecb682f70caa8c29987,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xcb49efe7ca6dbd2d0032bd1ff0bbd5f3a78d6886,0xee54e396907a1a974a9688e3cc3cff7ce1924faed761...
4,0x005cd18887579ed785fb3e5e2c9356c31b78f89e,1638511349,13731888,10000,0,0,0,0,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000e+00,0.000000,0,0,0x3b79a28264fc52c7b4cea90558aa0b162f7faf57,0x99d8a9c45b2eca8864373a26d1459e3dff1e17f3,0x5dd596c901987a2b28c38a9c1dfbf86fffc15d77,0xd695de3d99a5ac3e45d944c59802d24fe4eb5ac5ea96...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4206,0xff79e89bd6d2b043d949fbe9317a5a2d6d5c35fa,1620951798,12429301,10000,0,1461446703485210103287273052203988822378723970341,132655169216077536487841505154747055211890,2728962182311351606141284783950948,0.000000e+00,3.402568e+51,...,0.146940,264025.899510,1.469397e-01,405.873219,0,0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xdd63603bfb128f184242b5a8541e9fdf3eb4b20b,0xe6d8ee28600ad59999028009fc2055789152d882,0x0be675e8ec4673bdaa2c69b7ca09e55452079f727185...
4207,0xff82fd1bbf7edaeb020ebeae9de908d33498b1c3,1627708986,12931452,10000,0,1175088177869655394672,28115740506953991419873673223185126024156188,4433467130979222988686198430,4.545883e-03,2.199793e+02,...,0.168008,26.000000,2.931700e-03,9.578356,0,0,0x6b4c7a5e3f0b99fcd83e9c089bddd6c7fce5c611,0xcc8fa225d80b9c7d42f96e9570156c65d6caaa25,0x5922b0bbae5182f2b70609f5dfd08f7da561f5a4,0xa3f9f08352e907667922f636bf0d1c6ddcc34d3e8913...
4208,0xff8b8316f85c7404d2edb77c7b6fc79012cd96d2,1644677097,14191874,3000,1876378314940,155177094057796538516112328144394195,6528622246172943018397578554,157775037615846122944608148406530072732752,2.606777e+04,3.836154e-05,...,23219.900000,1.250242,1.250242e+00,3678.157359,0,0,0xb1408bf44e1354659ec5ae90b1c73449086335e8,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0x144a130f6b23c0eff9d5f782767bd4de6aeef6cb,0xcd2a39b73a243ccd7c8b789533fe0287cac2d15b73c8...
4209,0xff90fb880da9738b2044b243daf8172bfe413b5c,1620263820,12377710,3000,0,134613267275679793895040267,22040293810149092266038222186117860145686,87479961368623835210537029342491031,3.464044e+05,2.886799e-06,...,293632.188248,1.160452,1.160452e+00,3929.997144,0,0,0x7865af71cf0b288b4e7f654f4f7851eb46a2b7f8,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xbe72665932ffd975f78c94f3915223c9155cc9b2,0xfa57bf43aad734e7de2d091ed55abd3ae9e652958d36...
4210,0xff9704a23d4c4f57c69d86e1113c1e9204cd804e,1622177387,12520754,3000,1199688011420124327298,80543566371994216882372672034,3061973977658247656947073997783131639,3279613807403764642877568570654874312,9.676036e-01,1.033481e+00,...,334.429506,357.445759,6.802953e+02,903970.102904,0,0,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xe95a203b1a91a908f9b9ce46459d101078c2c3cb,0x4d2eb1b7c4b2814d04967263d7c5b21864e9fe08,0x93100018964d829aaba6427089dfd105bc292331b766...

In [58]:
uniq_pools = list(set(posV3.poolID))
len(uniq_pools)

4211

In [60]:
pool_creators = pd.read_csv("pool_creators.csv")
pool_creators = pool_creators.iloc[:, 1:]

pool_creators.columns = ["id", "creator_address", "creation_txn"]
uniq_creators = set(pool_creators.creator_address)

In [62]:
poolsV3 = poolsV3.merge(pool_creators, on="id")

### SUSHI

In [127]:
sushi_pools = pd.read_csv("sushi_pairs.csv")
uniq_sushi_pools = set(sushi_pools.id)    #same len as without set

In [118]:
sushi_pools_creators = pd.read_csv("sushi_pool_creators.csv")
sushi_pools_creators = sushi_pools_creators.iloc[:, 1:]


sushi_pools_creators.columns = ["id", "creator_address", "creation_txn"]
uniq_sushi_creators = set(sushi_pools_creators.creator_address)

In [128]:
sushi_pools = sushi_pools.merge(sushi_pools_creators, on="id")

In [125]:
sushi_pools['creator_address'].value_counts()

0x2d407ddb06311396fe14d4b49da5f0471447d45c    44
0x4bb4c1b0745ef7b4642feeccd0740dec417ca0a0    42
0x55986cc9eb57e29875a80a7f70b9abcef063cfaf    35
0x285b7eea81a5b66b62e7276a24c1e0f83f7409c1    32
0xdb306e5c24cd28a02b50c6f893d46a3572835195    25
                                              ..
0x756556d896d6da1b2355667eda5bcbf05b872add     1
0x3e127b4ac6022e8d72d900b402d6287399abc3f9     1
0x4bf1fbc233cd6109c35a4cd9d34540173af3234c     1
0x2dfabb9a9305a3ab498a6cdcb5d22eb36c94300c     1
0x37fb859ca36f6865e91e64a86c8fbe5f5da6c2a0     1
Name: creator_address, Length: 2565, dtype: int64

In [126]:
poolsV3['creator_address'].value_counts()

0xb67620e8c9e19592b616942f895153e2dcf9ccb6    33
0xde07abf5663b88fbd0974ee69b3bc75971a29381    31
0xc16414ac1fedfdac4f8a09674d994e1bbb9d7113    21
0x6dd91bdab368282dc4ea4f4befc831b78a7c38c0    18
0x4ce6aea89f059915ae5efbf34a2a8adc544ae09e    17
                                              ..
0x3011c5b8a469bb11bf29b311e992dd7c58f3bfa2     1
0x4951154398a234cf7f3d003bbf8776dcce4e2830     1
0x626e9d568242ab68e318047462b645c7d3b32c5d     1
0xc8d741d6187dca43e070fb48373c890f416ddc34     1
0x4d2eb1b7c4b2814d04967263d7c5b21864e9fe08     1
Name: creator_address, Length: 3220, dtype: int64

In [132]:
common_addrs = uniq_sushi_creators.intersection(uniq_creators)
len(common_addrs)

234

In [134]:
sushi_cc = sushi_pools['creator_address'].value_counts()
uni_cc = poolsV3['creator_address'].value_counts()

common_addrs_counts = []
for add in common_addrs:
    ex = {"id": add,
          "uniswap_pools": uni_cc[add], "sushi_pools": sushi_cc[add]}
    
    common_addrs_counts.append(ex)

common_addrs_counts = pd.DataFrame(common_addrs_counts)

In [139]:
common_addrs_counts.sort_values("uniswap_pools", inplace=True)
common_addrs_counts.tail(10)

                                             id  uniswap_pools  sushi_pools
3    0xdc0090f8add5db06de0897a54e753af143668668              8            4
78   0xf4087b7ab24bde9c445ddd0bc4df257f81277214              8            2
0    0x38a4d889a1979133fbc1d58f970f0953e3715c26              8            8
143  0x69ef61afc3aa356e1ac97347119d75cbdabef534              8            3
189  0x46bcf9c0f0a59eda5d2350abb5d584c07cd61d0b              8            1
196  0x4fe5f268e5053a05108ebaf13ebd9a825e6fb6f2              8            1
150  0x36a87d1e3200225f881488e4aeedf25303febcae              9            5
205  0xd7b3b50977a5947774bfc46b760c0871e4018e97             10            1
29   0x2480f754530776cfe59bbf26776345ab370ee36a             14            2
8    0xc16414ac1fedfdac4f8a09674d994e1bbb9d7113             21            1

In [153]:
common_addrs_counts.shape

(234, 3)

### Creating Graphs

In [140]:
import networkx as nx

In [142]:
G = nx.from_pandas_edgelist(sushi_pools, source="creator_address", target="name")

In [144]:
print(G)

Graph with 5931 nodes and 3518 edges

#### Use Case of address with tokens on mutliple networks

In [154]:
sushi_pools[sushi_pools.creator_address ==
            "0xdc0090f8add5db06de0897a54e753af143668668"]

,name,id,token0.id,token0.symbol,token0.name,token0.decimals,token1.id,token1.symbol,token1.name,token1.decimals,totalSupply,volumeUSD,txCount,creator_address,creation_txn
742,WETH-D-MC2022,0x362793d572ff0373a12367556b7aed5061b98328,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,Wrapped Ether,18,0xc9b42f2cadb8dafb92ec0275f10753fe49861ecf,D-MC2022,Metacraft Season Pass 2022 Deck,18,1.095445,2.678337e+02,3,0xdc0090f8add5db06de0897a54e753af143668668,0xfd596488c439d71d17be2a86936c5f2bec2d6aaa9ec7...
2109,D-MEMES-WETH,0x972dea762328d5001a543c6723f1d099f92917ba,0x61336076c12a3dfa9e6167b107de85caae4f184d,D-MEMES,Meme Ltd. Deck,18,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,Wrapped Ether,18,0.547723,0.000000e+00,1,0xdc0090f8add5db06de0897a54e753af143668668,0xc6be6afd6111d09892d99714bd33b12ec7d47962510d...
2521,D-ASSOC-WETH,0xb4bf1da75f848ec0db3f69cf694e2aff26ef6241,0xaa374886ac22f0f7af0cf60cbace06371ba48f98,D-ASSOC,The Association NFT Deck,18,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,Wrapped Ether,18,1.795798,1.541733e+03,7,0xdc0090f8add5db06de0897a54e753af143668668,0x40b2817eb906f7b6a2b088f6b1acbac1761a0d6788ad...
2949,WETH-D-dino,0xd2b873011bd7f2082e9c35c473ba2fcdb08627bb,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,Wrapped Ether,18,0xc12c1ab39d76f00fc0cd7c83479adc7ba7b91678,D-dino,tiny dinos Deck,18,1.089152,2.418773e+06,14,0xdc0090f8add5db06de0897a54e753af143668668,0x7823e98519d6e1b26114c16ca384fc89b70033dada89...

In [158]:
temp = poolsV3[poolsV3.creator_address ==
            "0xdc0090f8add5db06de0897a54e753af143668668"]

temp_toks = temp.loc[:, ["token0ID", "token1ID"]]

In [159]:
toksV3 = pd.read_csv("rawTokens_V3.csv")

In [165]:
temp_toks.loc[]

,token0ID,token1ID
408,0x42215239917af47a3be997cf1664523e4d1c1249,0xdac17f958d2ee523a2206206994597c13d831ec7
1075,0xa756b8e25a353624c3d1531fe80ab91b28a97969,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
1328,0x4a5faa203490fd772160450b3a572885c91bb3d3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
1893,0x2260fac5e5542a773aa44fbcfedf7c193bc2c599,0x9e6cd5390228f256660aeb67d39498b13fcec709
2701,0x956f47f50a910163d8bf957cf5846d573e7f87ca,0xf1f9a643404848f6fe3b4b3763b005a401729dec
3610,0x0a603af16448017983dad81ee2535702109d7d21,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
3793,0x631bb0d264fe053ac059d5580c79e8bd39a37057,0x6b175474e89094c44da98b954eedeac495271d0f
4119,0x99d8a9c45b2eca8864373a26d1459e3dff1e17f3,0xe1d9080038d9333bab48e6d387009951ff36b233

In [169]:

for i in range(temp_toks.shape[0]):
    tok0 = toksV3[toksV3.id == temp_toks.iloc[i, 0]]['symbol']
    tok1 = toksV3[toksV3.id == temp_toks.iloc[i, 1]]['symbol']

    print(tok0.values, tok1.values)

['iUSDT'] ['USDT']
['ADI'] ['WETH']
['iETH'] ['WETH']
['WBTC'] ['iWBTC']
['FEI'] ['iFEI']
['iUSDC'] ['USDC']
['iDAI'] ['DAI']
['MIM'] ['iMIM']

In [161]:
toksV3

,id,symbol,name,decimals,totalSupply,volume,volumeUSD,untrackedVolumeUSD,feesUSD,txCount,poolCount,totalValueLocked,totalValueLockedUSD,totalValueLockedUSDUntracked,derivedETH
0,0x00000000000045166c45af0fc6e4cf31d9e14b9a,BID,TopBidder,18,28240,8.347642e+03,8.114480e+03,4.057240e+03,81.144801,15,0,4.569066e+01,0.000000e+00,0,0.000000
1,0x0000000000004946c0e9f43f4dee607b0ef1fa1c,CHI,Chi Gastoken by 1inch,0,28240,2.913670e+05,1.324747e+05,1.184612e+05,1320.645071,181,0,6.496100e+04,0.000000e+00,0,0.000000
2,0x0000000000071566c1cf5db929f8e2e2f5d57da8,UOU,UOU,18,28368,4.369164e+05,9.714159e+03,4.857079e+03,0.971416,39,0,3.971261e+01,0.000000e+00,0,0.000000
3,0x0000000000085d4780b73119b644ae5ecd22b376,TUSD,TrueUSD,18,18240,3.946349e+08,3.895983e+08,3.890034e+08,65294.253858,8566,0,3.883400e+06,3.883400e+06,0,0.000751
4,0x0000000000095413afc295d19edeb1ad7b71c952,LON,Tokenlon,18,28240,4.751495e+04,3.591449e+04,1.795725e+04,107.743475,74,0,2.954418e+03,0.000000e+00,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5753,0xffbf315f70e458e49229654dea4ce192d26f9b25,VOLT,VOLTAGE,18,28240,2.883737e+07,1.297324e+07,9.787600e+06,129732.373382,9584,0,2.154241e+06,0.000000e+00,0,0.000000
5754,0xffc8ca4e83416b7e0443ff430cc245646434b647,📘,ENS Constitution Book Token,18,18368,7.028855e+00,2.211085e+03,2.173404e+04,22.110851,195,0,4.336702e-01,0.000000e+00,0,0.000000
5755,0xffe1ab085332720f63cf6784b94b43f45ee24c8f,DXB,Dubai Expo Ring,18,28240,5.693406e+05,1.305905e+02,6.529527e+01,1.305905,4,0,1.194283e+07,0.000000e+00,0,0.000000
5756,0xfffdaa42568c2032616ba7061c690e9dccf6bdea,VNV,Vinovault Coin,2,28368,2.430000e+01,2.535489e+02,1.267744e+02,2.535489,13,0,2.209000e+01,0.000000e+00,0,0.000000
5757,0xffffffff2ba8f66d4e51811c5190992176930278,COMBO,Furucombo,18,28240,2.289776e+00,3.224867e+00,1.612434e+00,0.032249,5,0,0.000000e+00,0.000000e+00,0,0.000000

#### See if any Uniswap V2 scam tokens are still active in these

In [173]:
scamV2 = pd.read_csv("dataset.csv", encoding="latin1")
scamV2.columns = ["id", "name", "symbol", "label"]
scamV2

,id,name,symbol,label
0,0x0000000000004946c0e9f43f4dee607b0ef1fa1c,Chi Gastoken by 1inch,CHI,0
1,0x0000000000085d4780b73119b644ae5ecd22b376,TrueUSD,TUSD,0
2,0x0000000000b3f879cb30fe243b4dfee438691c04,Gastoken.io,GST2,0
3,0x00000000441378008ea67f4284a57932b1c000a5,TrueGBP,TGBP,0
4,0x00000100f2a2bd000715001920eb70d229700085,TrueCAD,TCAD,0
...,...,...,...,...
8888,0xffe615163ef49963f1bc51ac49ca46120a4b2cef,OrbS,ORBS,1
8889,0xffecb05767050a591d8f5b7a0aec377b0565a507,IND,IND,1
8890,0xfff27083af87adfd76af4d957a71e7120c7a4379,Maro.Finance,MARO,1
8891,0xfffd8f59508b469c4b62b7b2e03a02c7ca38b3f8,Ethverse Token,ETHV,1
8892,0xfffffffff15abf397da76f1dcc1a1604f45126db,FalconSwap Token,FSW,0

In [177]:
# These are the scam tokens from Version 2 that are still present in Version 3

scamV3 = scamV2.merge(toksV3, on="id")
scamV3[scamV3.label == 1]

,id,name_x,symbol_x,label,symbol_y,name_y,decimals,totalSupply,volume,volumeUSD,untrackedVolumeUSD,feesUSD,txCount,poolCount,totalValueLocked,totalValueLockedUSD,totalValueLockedUSDUntracked,derivedETH
68,0x16716ba3c7bb30995d22e740f2d64c9e518798f7,bZx Protocol Token,BZRX,1,BZRX,bZx Protocol Token,18,28240,0.000000e+00,0.000000,0.000000,0.000000,3,0,2.378278e+06,0.0,0,0.0
121,0x31126416f0dbc1283dc5295ee6ea04ff83ee3531,Bitcoin Diamond Token,BCD,1,BCD,Bitcoin Diamond Token,0,28240,0.000000e+00,0.000000,0.000000,0.000000,4,0,1.000000e+00,0.0,0,0.0
246,0x68023f73727290b34f66abb795ec7730620d9a92,INRT,INRT,1,INRT,INRT,2,18240,0.000000e+00,0.000000,0.000000,0.000000,1,0,1.576290e+03,0.0,0,0.0
345,0x9393fdc77090f31c7db989390d43f454b1a6e7f3,DarkEnergyCrystals,DEC,1,DEC,DarkEnergyCrystals,3,28240,2.410202e+06,18833.711103,9416.855551,56.501133,37,0,1.035357e+05,0.0,0,0.0
478,0xc969e16e63ff31ad4bcac3095c616644e6912d79,SEED,SEED,1,SEED,SEED,18,28368,1.854549e+05,3359.433320,1679.716660,33.594333,16,0,3.281576e+05,0.0,0,0.0
482,0xcae838187c1f813fc3bfae6387bf34aeacb5bef6,COM,COM,1,COM,COM,18,18328,1.036280e+07,0.000000,0.000000,0.000000,53,0,2.001009e+07,0.0,0,0.0

In [187]:
tk0 = sushi_pools.loc[:, ["token0.id", "token0.name"]]
tk0.columns = ["id", "name"]
tk1 = sushi_pools.loc[:, ["token1.id", "token1.name"]]
tk1.columns = ["id", "name"]

sushi_tokens= pd.concat([tk0, tk1])

sushi_scam = sushi_pools.merge(scamV2, on="id")
sushi_scam

Empty DataFrame
Columns: [name_x, id, token0.id, token0.symbol, token0.name, token0.decimals, token1.id, token1.symbol, token1.name, token1.decimals, totalSupply, volumeUSD, txCount, creator_address, creation_txn, name_y, symbol, label]
Index: []

In [193]:
# Now I want to see who created the pools for the 6 scam tokens

UniToken0V3 = poolsV3.loc[:, ["token0ID", "id", "creator_address"]]
UniToken1V3 = poolsV3.loc[:, ["token1ID", "id",  "creator_address"]]
UniToken0V3.columns = ["id", "pool_id", "creator"]
UniToken1V3.columns = ["id", "pool_id", "creator"]

#id is coin ID
PoolTokensV3 = pd.concat([UniToken0V3, UniToken1V3])
ScamPoolsV3 = PoolTokensV3.merge(scamV3, on="id")
ScamPoolsV3[ScamPoolsV3.label == 1]

,id,pool_id,creator,name_x,symbol_x,label,symbol_y,name_y,decimals,totalSupply,volume,volumeUSD,untrackedVolumeUSD,feesUSD,txCount,poolCount,totalValueLocked,totalValueLockedUSD,totalValueLockedUSDUntracked,derivedETH
4527,0xcae838187c1f813fc3bfae6387bf34aeacb5bef6,0x723b48259152de8c0c78e907c7c1cda232999a09,0xe255d68563c974ac061484cece4e57de02a4e0da,COM,COM,1,COM,COM,18,18328,1.036280e+07,0.000000,0.000000,0.000000,53,0,2.001009e+07,0.0,0,0.0
4736,0x9393fdc77090f31c7db989390d43f454b1a6e7f3,0xe2b6d8354a3fb9ef27a1b3c9a70030b85cfcde06,0xdf8902c0747e2bf808857e5ff5f28ea1300506b1,DarkEnergyCrystals,DEC,1,DEC,DarkEnergyCrystals,3,28240,2.410202e+06,18833.711103,9416.855551,56.501133,37,0,1.035357e+05,0.0,0,0.0

In [198]:
poolsV3[poolsV3.creator_address ==
        "0xdf8902c0747e2bf808857e5ff5f28ea1300506b1"]

,id,createdAtTimestamp,createdAtBlockNumber,feeTier,liquidity,sqrtPrice,feeGrowthGlobal0X128,feeGrowthGlobal1X128,token0Price,token1Price,...,totalValueLockedToken0,totalValueLockedToken1,totalValueLockedETH,totalValueLockedUSD,totalValueLockedUSDUntracked,liquidityProviderCount,token0ID,token1ID,creator_address,creation_txn
3712,0xe2b6d8354a3fb9ef27a1b3c9a70030b85cfcde06,1633947341,13396701,3000,0,2505036234966386302045715536678303,25188413056139042813107898632210,27374250688031553641056816621440020735571,1.000302e+06,9.996981e-07,...,103535.67,0.004839,0.004839,13.884899,0,0,0x9393fdc77090f31c7db989390d43f454b1a6e7f3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,0xdf8902c0747e2bf808857e5ff5f28ea1300506b1,0x526e2bacd5da485ffa8c93921cb0e4fa7233a35125aa...

In [199]:
sushi_pools.columns

Index(['name', 'id', 'token0.id', 'token0.symbol', 'token0.name',
       'token0.decimals', 'token1.id', 'token1.symbol', 'token1.name',
       'token1.decimals', 'totalSupply', 'volumeUSD', 'txCount',
       'creator_address', 'creation_txn'],
      dtype='object')

In [200]:
poolsV3.columns

Index(['id', 'createdAtTimestamp', 'createdAtBlockNumber', 'feeTier',
       'liquidity', 'sqrtPrice', 'feeGrowthGlobal0X128',
       'feeGrowthGlobal1X128', 'token0Price', 'token1Price', 'tick',
       'observationIndex', 'volumeToken0', 'volumeToken1', 'volumeUSD',
       'untrackedVolumeUSD', 'feesUSD', 'txCount', 'collectedFeesToken0',
       'collectedFeesToken1', 'collectedFeesUSD', 'totalValueLockedToken0',
       'totalValueLockedToken1', 'totalValueLockedETH', 'totalValueLockedUSD',
       'totalValueLockedUSDUntracked', 'liquidityProviderCount', 'token0ID',
       'token1ID', 'creator_address', 'creation_txn'],
      dtype='object')

In [201]:
t1 = sushi_pools.loc[:, ["id", "creator_address"]]
t2 = poolsV3.loc[:, ["id", "creator_address"]]


t3 = pd.concat([t1, t2])

In [203]:
t3.to_csv("pools_sushi_uni_wCreators.csv")